# See https://github.com/ternandsparrow/wild-orchid-watch-pwa/blob/master/README.md#why-we-don-t-eslint-our-web-workers
# for why we disable eslint on web workers (it's a hacky workaround)
src/store/image-compression.worker.js
src/store/map-over-obs-store.worker.js
