body {
  background-color: rgba(160, 227, 202, 1);
}

.border-radius {
  border-radius: 30px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.small-text {
  font-style: oblique;
  font-size: 0.675em;
}

.wow-list-header {
  background-color: #4d4d4d;
  color: #fff;
  padding: 0 16px;
  margin: 1em 0 0.25em;
}

.wow-list-item {
  margin-bottom: 0.5em;
}

.list-header--material.wow-list-header {
  padding-top: 0;
  margin-top: 0em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.input-status-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 0.5em;
}

.multiselect-container {
  flex-direction: column;
  align-items: start;
}

.multiselect-value {
  margin: 0.7em 0;
  display: flex;

  .multiselect-question {
    padding-left: 2em;
  }
}

.muted {
  color: #888;
}

.wow-obs-field-desc {
  color: #888;
  font-size: 0.7em;
  margin-top: 0.5em;
}

.wow-radio-option-label {
  flex-direction: column;
  align-items: flex-start;
}

.success-alert,
.info-alert,
.error-alert,
.warning-alert {
  padding: 1em;
  border-radius: 10px;
  margin: 0 auto;
}

.warning-alert {
  border: 1px solid orange;
  background: #ffeabb;
}

.success-alert {
  border: 1px solid green;
  background: #d5ffbf;
}

.info-alert {
  border: 1px solid blue;
  background: #e9f5ff;
}

.error-alert {
  border: 1px solid red;
  background: #ffdcdc;
}
